<app-navbar></app-navbar>

<main>
  <h1>Best of the week</h1>

  <div class="content">
    <app-card name="highlight" url="https://images.pexels.com/photos/2760856/pexels-photo-2760856.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="highlight" ></app-card>
    <app-card name="ad" class="ad" url="https://images.pexels.com/photos/5937247/pexels-photo-5937247.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></app-card>
    <app-card name="side-card" class="side-card" url="https://images.pexels.com/photos/1756286/pexels-photo-1756286.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></app-card>
  </div>
</main>
